$bg-body: #273043;
$bg-header: #eff6ee;
$bg-form: #ffffff;

$text-color: #273043;
$text-color-light: #eff6ee;

$btn: #eff6ee;
$btn-blue: #273043;
$btn-red: #eec7ca;
$btn-green: #c7eed1;

$black: #000000;
$white: #ffffff;
